@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    font-family: Montserrat, sans-serif;
    margin: 0px;
}

h1 {
    text-align: center;
}

#footer {
    margin-top: 15px;
    padding-top:10px;
    padding-bottom: 20px
}

.dropdown-item {
    width: 100%;
    padding: 12px;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
    height: auto;
}

.dropdown-item:focus {
    background-color: dimgrey;
}

.dropdown-item:hover {
    background-color: dimgrey;
}

/* #hpms_map {
    padding: 10px;
    margin: 0;
    height: 70%;
    width: 100%;
} */

#f-class-filter {
    height: 100%;
    width: 100%;
    visibility: hidden;
}

#filter-container {
    margin: 40px;
    padding-bottom: 50px;
}


/* Chapman Updates */

.container-fluid {
    width: 100%;
    padding: 0px;
}

#header {
    margin: 0px;
    background-color: #434544;
    padding: 10px;
}

#map_div{
    padding: 10px;
    height: 100%;
}

#hpms_map {
    width: 100%;
    height: 100%;
}

#interaction_column {
    padding: 0px;
}

.selector {
    padding-bottom: 7.5%;
    padding-top: 7.5%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .card {
      width: 100%;
      height: 100%;
  }

  .card-body{
      padding-left: 10%;
      padding-right: 10%;
  }

  .btn-group-vertical{
      width: 100%;
  }
